// NEW COLOR PALLET
// rose ebony #63474D
// old rose #AA767C
// antique brass #D6A184
// light salmon #FFA686
// macaroni and cheese #FEC196

// COLORS
$main-header-color: #FEC196;
$main-background-color: linear-gradient(0.25turn, #FFA686, #AA767C);
$card-background-color: linear-gradient(0.25turn, #63474D, #AA767C);
$card-hover-background-color: #FEC196;
$card-active-background-color: #63474D;

// BORDERS
$border-px-thin: 1px solid #000;
$border-px-thick: 2px solid #000;

// BREAKPOINTS
$large-breakpoint: 1400px;
$laptop-breakpoint: 1200px
$tablet-breakpoint: 1000px;
$mobile-breakpoint: 500px;
