// VARIABLE OPPORTUNITYS
// color - cream : #EBF5EE;
// color - marine : #37515C;
// color - light green : #CFF2DA;
// color - grey : #C3C2C6;
// color - light blue : #D7F2FE

// width: 100%;
// border: 2px solid #000;
// border: 1px solid #000;
// display: flex;

$border-px-one: 1px solid #000;
$border-px-two: 2px solid #000;

// $main-header-color (cream)
$main-header-color : #EBF5EE;

// $main-background-color (marine)
$main-background-color : #37515C;

// $card-background-color (light-blue)
$card-background-color : #D7F2FE;

// $card-hover-background-color (light-green)
$card-hover-background-color : #CFF2DA;

// $card-active-background-color (grey)
$card-active-background-color : #C3C2C6;
