@import "variables";
@import "mixins";
@import "media";


// does this actually do anything?
html {
  background-color: $main-background-color;
  border: $border-px-thick;
  height: 100vh;
}

body {
  box-sizing: border-box;
  font-family: 'Comic Sans', sans-serif;
  margin: auto;
}

main {
  background: $main-background-color;
   @include dimensions(100%, 100%);
}

h1 {
  border-right: $border-px-thick;
  font-size: 255%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
  width: 30%;
}

h3 {
  color: $main-header-color;
  font-size: 250%;
}

img {
  cursor: pointer;
}

.main-header {
  background-color : $main-header-color;
  border: $border-px-thick;
  display: flex;
  @include dimensions(auto, 100%);
  justify-content: space-between;
}

.user-info {
  font-size: 180%;
  margin: auto;
  text-align: center;
  width: 40%;
}

.navButton {
  background-color: $main-header-color;
  border-left: $border-px-thin;
  border-right: $border-px-thin;
  font-size: 130%;
  margin: 1%;
}

 // does this go to anything?
.search-bar {
  display: flex;
  @include dimensions(100%, 30%);
  margin: 10px 0;
}

.search-button {
  background-color: $card-active-background-color;
  border: $border-px-thin;
  @include dimensions(58px, 20%);
  margin-top: 3px;
}

// should anything be done to this? <<<<<<<<<<<<<<<
.card-button:hover,
.navButton:hover,
.search-button:hover,
.search-image:hover {
  background-color: $card-hover-background-color;
}

.card-button:active,
.navButton:active,
.search-button:active,
.search-image:active {
  background-color: $card-active-background-color;
}

.search-input {
  border: $border-px-thin;
  font-size: 100%;
  @include dimensions(7vh, 90%);
  margin: 3px 7px 0 0;
  padding-left: 10px;
}

.card-button {
  border: $border-px-thin;
  height: 27px;
  margin: 3px;
}

.add-button {
  background-color: $main-header-color;
  display: flex;
  width: 12%;
}

.add {
  @include dimensions(auto, 100%);
}

.hidden {
  display: none;
}

.favorite {
  background-color: $main-header-color;
  background-image: url("https://image.flaticon.com/icons/svg/149/149222.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 13%;
}

.all-cards {
  box-sizing: border-box;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-columns: repeat(1fr, 1fr, 2.5fr, 1fr);
  padding: 30px 0 30px 30px;
  width: 95.5vw;
}



.card {
  background-color: $card-background-color;
  border: 3px solid #000;
  width: 100%;
}

.card-header {
  background-color: $main-header-color;
  border-bottom: $border-px-thin;
  display: flex;
  justify-content: space-between;
}

.all {
  grid-gap: 0;
  grid-template-columns: repeat(1, 1fr);
}

// is ol doing anything?
.all-recipe-info,
ol {
  color: $main-header-color;
  font-size: 220%;
  width: 100%;
}

.recipe-name {
  display: block;
  font-size: 150%;
  text-align: center;
}

.card-picture:hover {
  opacity: 0.7;
}

.card-picture:active {
  border: $border-px-thick;
}

.card-picture {
  border: $border-px-thin;
  margin: 10px 3% 8px 2.6%;
  @include dimensions(200px, 94%);
}

.favorite-active {
  background-image: url("https://image.flaticon.com/icons/svg/148/148841.svg");
  background-repeat: no-repeat;
}
