@import "variables";
@import "mixins";

// does this actually do anything?
html {
  background: $main-background-color;
  border: $border-px-thick;
  height: 100vh;
}

body {
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
  margin: auto;
}

main {
  background: $main-background-color;
   @include dimensions(100%, 100%);
}

h1 {
  background: $card-hover-background-color;
  border-right: $border-px-thick;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
  width: 30%;
}

h3 {
  color: $main-header-color;
  font-size: 250%;
}

img {
  cursor: pointer;
}

.main-header {
  background: $header-background-color;
  border: $border-px-thick;
  display: flex;
  @include dimensions(auto, 100%);
  justify-content: space-between;
}

.user-info {
  font-size: 180%;
  margin: auto;
  text-align: center;
  width: 40%;
}

.nav-bar {
  display: flex;
}

.navButton {
  background-color: $main-header-color;
  border-left: $border-px-thin;
  border-right: $border-px-thin;
  font-size: 130%;
  margin: 1%;
  @include dimensions(80%, fit-content);
  align-self: center;
}

.search-bar {
  display: flex;
  @include dimensions(50%, 30%);
  align-self: center;
  // margin: 10px 0;
}

.search-image {
  @include dimensions(7vh, 40%);
}

.search-button {
  background-color: $card-active-background-color;
  border: $border-px-thin;
  opacity: 0.8;
  @include dimensions(58px, 20%);
  margin-top: 3px;
}

.card-button:hover,
.navButton:hover,
.search-button:hover,
.search-image:hover {
  background-color: $card-hover-background-color;
}

.card-button:active,
.navButton:active,
.search-button:active,
.search-image:active {
  background-color: $card-active-background-color;
}


.search-input {
  border: $border-px-thin;
  background: $card-active-background-color;
  color: #FFFFFF;
  opacity: 0.8;
  font-size: 1.5em;
  @include dimensions(7vh, 90%);
  margin: 3px 7px 0 0;
  padding-left: 10px;
}

.radio-btn-area {
  font-size: 2em;
  display: grid;
  grid-template-columns: repeat(10, 5fr);
  grid-gap: 20px;
  // @include dimensions(30%, 80%);
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
}

.reset-recipes {
  display: flex;
  padding-top: 20px;

  // align-items: center;
}
.clear-tags {
  background: $card-hover-background-color;
  font-size: 1.5em;
}



.add-button {
  // background-color: $main-header-color;
  // display: flex;
  // width: 12%;
}

.add {
  @include dimensions(auto, 10%);
}

.hidden {
  display: none;
}

.clear-tags,
.home,
.view-favorites,
.view-pantry,
.search-button,
.search-input {
  border-radius: $border-radius;
}

.favorite {
  background-color: $card-active-background-color;
  background-image: url("https://image.flaticon.com/icons/svg/149/149222.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 13%;
}


.all-cards {
  // box-sizing: border-box;
  margin-top: 30px;
  display: grid;
  grid-gap: 30px;
  // grid-template-columns: repeat(4, 1fr);
  // padding: 30px 0 30px 30px;
  // width: 95.5vw;
}


.all {
  // grid-gap: 0;
  // grid-template-columns: repeat(1, 1fr);
}

.card {
  background: $card-background-color;
  border: 3px solid #000;
  border-radius: $border-radius;
  // width: 100%;
}

// is ol doing anything?
.all-recipe-info,
ol {
  color: $main-header-color;
  font-size: 2em;
  width: 100%;
}

.card-header {
  background: $header-background-color;
  border-bottom: $border-px-thin;
  // display: grid;
  // grid-template-columns: repeat(2, auto);
  // grid-template-columns: repeat(2, 1fr);
  display: flex;
  justify-content: space-between;

}

.card-button {
  border: $border-px-thin;
  // height: 27px;
  margin: 10px;
  // width: 25%;
}

.add-recipe-button {
  background: $background;
  width: 25%;
}

.favorite-active,
.favorite {
  color: $card-hover-background-color;
  width: 25%;
}

.recipe-name {
  display: block;
  font-size: 150%;
  text-align: center;
}

.card-picture:hover {
  opacity: 0.7;
}

.card-picture:active {
  border: $border-px-thick;
}

.card-picture {
  border: $border-px-thin;
  margin: 10px 3% 8px 2.6%;
  @include dimensions(200px, 94%);
}

.favorite-active {
  background-image: url("https://image.flaticon.com/icons/svg/148/148841.svg");
  background-repeat: no-repeat;
}

// THIS MUST BE AT THE BOTTOM
@import "media";
